body {
  font-family: Optimo-Plain, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: white;
  color: #006bd3;
}

h1 {
  text-align: center;
}

#div-nav-links {
  display: inline;
}

ul {
  list-style: none;
  color: white;
  background-color: white;
  padding: 8px;
  height: 2em;
}

#ul-nav-links li {
  display: inline;
}

#ul-nav-links li:hover {
  color: black;
  font-style: italic;
  background-color: white;
}

#embed {
  margin-left: 0;
  display: block;
  width: 100vw;
  height: 90vh;
  background-color: white;
}

/* Adjust the banner */
/* #header-banner {
  width: 50%;
  height: 50%;
  object-fit: fill;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */